li{
    list-style: circle;
}
.exp{
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    color: rgb(8, 8, 8);
}

.exxp{
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    color: rgb(8, 8, 8);
}